flows (2).json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "MonitoreoCalidadEnergía",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "f38fe1837299ac74",
        "type": "ui_switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "8c30938f719c6ce0",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "81861f444f28686c"
            ]
        ]
    },
    {
        "id": "81861f444f28686c",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/inTopic",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "255b64947ca5b2b4",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "64cb6d2fbafdd4f4",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/voltaje",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5f30a2205652b055",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "93d4b60a459f0703",
                "d789f964959b29c0",
                "9c0816d249da8ca7"
            ]
        ]
    },
    {
        "id": "bf9032ee8de09ba0",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/current",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5f30a2205652b055",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 360,
        "wires": [
            [
                "65430b1342cb0b5b",
                "2b17a914aed73946",
                "9c0816d249da8ca7"
            ]
        ]
    },
    {
        "id": "b3c411dd4dfbd9b9",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/power",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5f30a2205652b055",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 440,
        "wires": [
            [
                "9fd36df33c06fbc6",
                "5478187b2627c7eb",
                "9c0816d249da8ca7"
            ]
        ]
    },
    {
        "id": "b82b419a525e5728",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/energy",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5f30a2205652b055",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 520,
        "wires": [
            [
                "0e2893ea81b6afab",
                "00e178b786f112af",
                "9c0816d249da8ca7"
            ]
        ]
    },
    {
        "id": "557e3e731d098b72",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/frequency",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5f30a2205652b055",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 600,
        "wires": [
            [
                "4127ca533c4ff244",
                "209e251ac1139695",
                "9c0816d249da8ca7"
            ]
        ]
    },
    {
        "id": "83b0c2b3dd610d45",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/pf",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5f30a2205652b055",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 680,
        "wires": [
            [
                "003744d422c2bd7b",
                "3666b0a13d351736",
                "9c0816d249da8ca7"
            ]
        ]
    },
    {
        "id": "d789f964959b29c0",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Voltaje",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "2b17a914aed73946",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Corriente",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 400,
        "wires": []
    },
    {
        "id": "5478187b2627c7eb",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Potencia",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 480,
        "wires": []
    },
    {
        "id": "00e178b786f112af",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Energía",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 560,
        "wires": []
    },
    {
        "id": "209e251ac1139695",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Frecuencia",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 640,
        "wires": []
    },
    {
        "id": "3666b0a13d351736",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Factor Potencia",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 720,
        "wires": []
    },
    {
        "id": "93d4b60a459f0703",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f6392ed12cdd95a2",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "Voltaje (V)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "65430b1342cb0b5b",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f6392ed12cdd95a2",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Corriente (A)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "9fd36df33c06fbc6",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f6392ed12cdd95a2",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Potencia (W)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "0e2893ea81b6afab",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f6392ed12cdd95a2",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "Energía (kWh)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "4127ca533c4ff244",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f6392ed12cdd95a2",
        "order": 5,
        "width": 6,
        "height": 4,
        "label": "Frecuencia (Hz)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "003744d422c2bd7b",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f6392ed12cdd95a2",
        "order": 6,
        "width": 6,
        "height": 4,
        "label": "Factor Potencia",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "9c0816d249da8ca7",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "3d3720a3fc7cdebd",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Parámetros",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "5162109262342ed4",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Tópicos",
        "info": "Se manejan los tópicos:\n- Voltaje\n- Corriente\n- Potencia\n- Energía\n- Frecuencia\n- Factor de Potencia",
        "x": 90,
        "y": 280,
        "wires": []
    },
    {
        "id": "f4d9eecade9ab9ad",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Control carga",
        "info": "Se genera la opción de control remoto de \nestado del relé\n",
        "x": 110,
        "y": 220,
        "wires": []
    },
    {
        "id": "d74e86169e8b218e",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Subflujo Tópicos",
        "info": "Se genera la relación con el subflujo donde\nestan los subtópicos",
        "x": 120,
        "y": 760,
        "wires": []
    },
    {
        "id": "c8a91c4805dfcc0d",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/pot_act",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "255b64947ca5b2b4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 760,
        "wires": [
            [
                "a30d5b72bb3de2ce",
                "4bf810178a3ca6c6",
                "9c0816d249da8ca7"
            ]
        ]
    },
    {
        "id": "1db027b290e4e2d1",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "pot_rea",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "255b64947ca5b2b4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 860,
        "wires": [
            [
                "d4a33c4cce3bf2db",
                "d76582148dcb76eb",
                "9c0816d249da8ca7"
            ]
        ]
    },
    {
        "id": "505b10e2a16cef67",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/por_apa",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "255b64947ca5b2b4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 960,
        "wires": [
            [
                "639ab2a7d5ef179a",
                "78c5eaaf5be4f2f4",
                "9c0816d249da8ca7"
            ]
        ]
    },
    {
        "id": "4bf810178a3ca6c6",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Potencia_activa",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 800,
        "wires": []
    },
    {
        "id": "d76582148dcb76eb",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Potencia_reactiva",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 900,
        "wires": []
    },
    {
        "id": "78c5eaaf5be4f2f4",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Potencia_aparente",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1000,
        "wires": []
    },
    {
        "id": "a30d5b72bb3de2ce",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "c834f2cb561a2375",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Potencia activa",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "d4a33c4cce3bf2db",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "c834f2cb561a2375",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Potencia reactiva",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "639ab2a7d5ef179a",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "c834f2cb561a2375",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Potencia aparente",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "8c30938f719c6ce0",
        "type": "ui_group",
        "name": "SwitchActivación",
        "tab": "83b1475710dc9adb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "255b64947ca5b2b4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5f30a2205652b055",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f6392ed12cdd95a2",
        "type": "ui_group",
        "name": "Tópicos",
        "tab": "f731efc23def1d97",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": true,
        "className": ""
    },
    {
        "id": "3d3720a3fc7cdebd",
        "type": "ui_group",
        "name": "Parámetros",
        "tab": "f731efc23def1d97",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "c834f2cb561a2375",
        "type": "ui_group",
        "name": "Subtópicos",
        "tab": "f731efc23def1d97",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "83b1475710dc9adb",
        "type": "ui_tab",
        "name": "Estado",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f731efc23def1d97",
        "type": "ui_tab",
        "name": "Monitoreo",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]